.BLACK {
  width: 500px;
  height: 250px;
  background-color: black;
  padding: 5px;
}
.word1 {
  color: white;
  font-style: unset;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.word2 {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: -30px;
}
.word3 {
  color: rgb(88, 86, 86);
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.box1 {
  background-color: rgb(5, 72, 218);
  width: 134px;
  height: 30px;
  display: flex;
  justify-content: center;
  margin-left: 120px;
  margin-top: 20px;
  color: white;
  padding-top: 7px;
  border-radius: 20px;
}
.box2 {
  display: flex;
  justify-content: center;
  background-color: black;
  border: 2px solid rgb(5, 72, 218);
  width: 100px;
  height: 28px;
  color: rgb(5, 72, 218);
  border-radius: 20px;
  padding-top: 7px;
  padding-left: 30px;
}
